@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 100ms ease-in-out;
}

:root {
  /* --background-color: #011d2e; */
  --background-color: #0da85f;
  --secondary-color: #87cefa;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.customOpen {
  animation: openKeyframe 100ms ease-in-out;
}

@keyframes openKeyframe {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(100%);
    opacity: 1;
  }
}

#book {
  scroll-margin-block-start: 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rotate > * {
  transform: rotateY(20deg);
  rotate: -5deg;
  transition: all 100ms ease-in-out;
}

.rotate > *:hover {
  transform: rotateY(0deg);
  rotate: 0deg;
  transform: scale(1.1);
  z-index: 100;
}

.shadowRight {
  box-shadow: 18px -18px var(--background-color),
    20px -20px var(--secondary-color);
  /* box-shadow: 8px -8px black; */
}

.shadowLeft {
  box-shadow: -18px 18px var(--background-color),
    -20px 20px var(--secondary-color);
  /* box-shadow: 8px -8px black; */
}

.customSubGrid {
  grid-template-columns: 4fr 1fr 4fr;
}

@media (max-width: 1279px) {
  .customGrid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1280px) {
  .customGrid {
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: 1536px) {
  .customDiv {
    width: calc((100% - 1500px) / 2);
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .customDiv {
    width: calc((100% - 1200px) / 2);
  }
}
